@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sentient-Variable';
  src:
    url('/fonts/Sentient-Variable.woff2') format('woff2'),
    url('/fonts/Sentient-Variable.woff') format('woff'),
    url('/fonts/Sentient-Variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Variable';
  src:
    url('/fonts/WorkSans-Variable.woff2') format('woff2'),
    url('/fonts/WorkSans-Variable.woff') format('woff'),
    url('/fonts/WorkSans-Variable.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}
